{% extends 'common_segments/base.html' %}
{% load static %}

{% block seo %}
    <meta name="description"
          content="На нашей веб-странице вы можете узнать о характеристиках, свойственных людям, рожденным в определенный день месяца. Просто выберите число месяца, в котором вы родились, и мы предоставим вам уникальные и интересные сведения о вашей личности."/>
    <meta
            name="keywords"
            content="Характеристики по дате рождения, Личностные черты по дню рождения, Психология даты рождения, Числа и личность"/>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <!-- central content block -->
    <div class="content-block col-lg-8 col-md-12" id="month-day-description-view">
        <div class="row proposition-text">
            <div class="col">
                <div class="text-center mb-4">
                    <h1 style="color: white">Описание человека, рожденного в определенный день месяца</h1>
                </div>
            </div>
        </div>

        <div class="row proposition-text">
            <div class="col">
                <div class="mb-4">
                    <p class="mb-2">
                        Добро пожаловать на нашу уникальную страницу, где вы можете узнать о себе что-то новое и
                        интересное!
                    </p>
                    <p class="mb-2">
                        Просто выберите число, в которое вы родились и мы расскажем вам о
                        характеристиках, которые свойственны людям, рожденным в этот день.
                    </p>
                    <p class="mb-2">
                        Это может быть увлекательным и захватывающим путешествием по самым глубоким уголкам вашей
                        личности. Не упустите возможность узнать о себе что-то новое и увлекательное!
                    </p>
                </div>
            </div>
        </div>

        <div class="row proposition-text">
            <div class="col">
                <div class="text-center mb-4">
                    <p style="color: white">Выберите число вашего рождения:</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center text-center">
            {% for day in day_numbers %}
                <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3 color-container mb-4">
                    <div class="color-block ">
                        <a href="{% url 'person_characteristic:month_day_detail' day.url %}#month-day-description-detail">
                            <div class="d-flex align-items-center justify-content-center color-block"
                                 style="background-color: {{ day.color_code }};">
                                <p style="color: black">{{ day.name }}</p>
                            </div>
                        </a>

                    </div>

                </div>
            {% endfor %}
        </div>

        <hr>
        <div class="row justify-content-center bottom-block">

            <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-7 col-8 pt-3 pb-3">

                <div class="image-block">
                    <img
                            src="{% static 'images/common_month_day.jpg' %}"
                            alt="Two men and a woman in a cafe"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
