{% extends 'common_segments/base.html' %}
{% load static %}

{% block seo %}
    <meta name="description"
          content="Откройте для себя мудрость в словах знаменитостей с помощью онлайн гадания на цитатах."/>
    <meta
            name="keywords"
            content="Онлайн Гадание,Гадание на Цитатах, Судьба, Успех"/>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <!-- central content block -->
    <div class="content-block col-lg-8 col-md-12" id="quotes-divinations-detail">
        <div class="row day-card">
            <div class="col">
                <div class="text-center mb-4">
                    <h1 style="color: white">Сейчас вам подходит такая цитата:</h1>
                    <h3 style="color: white">{{ name }}</h3>
                </div>
            </div>
        </div>

        <div class="row proposition-text mb-4">
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-2 col-sm-3 col-3 image-block">
                <img
                        src="{{ image.url }}"
                        alt="{{ image_alt }}"
                />
            </div>
            <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-10 col-sm-9 col-9">
                <div class="mb-4">

                    <p><span style="font-size: 25px">"{{ quote }}"</span> - <span style="color: white">{{ autor }}</span></p>

                </div>
            </div>
        </div>

        <div class="row mb-2 mt-2 justify-content-center">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-9 suits-info-text me-1">
                <div class="text-center mb-4 mt-4">
                    <a href="{% url 'quotes_divination:category_quotes_list' %}#quotes-divinations-view">
                        <p>Погадать еще</p>
                    </a>
                </div>
            </div>
        </div>

    <hr>
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-7 col-8 pt-3 pb-3">
                <div class="image-block">
                    <img
                            src="{% static 'images/quotes_image_2.jpg' %}"
                            alt="Девушка сидит за столом и пишет"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
