{% extends 'common_segments/base.html' %}
{% load static %}

{% block seo %}
    <meta name="description"
          content="Получите предсказания относительно вашей текущей ситуации на работе и возможных действий для достижения успеха с помощью нашего онлайн гадания на картах Таро. Задайте вопрос и выберите карты Таро, чтобы получить свой результат."/>
    <meta
            name="keywords"
            content="Таро, Гадание, Ситуация на работе, Работа, Онлайн гадание"/>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <!-- central content block -->
    <div class="content-block col-lg-8 col-md-12" id="taro-career-card-view">
        <div class="row proposition-text">
            <div class="col">
                <div class="text-center mb-4">
                    <h1 style="color: white">Онлайн гадание Ситуация на работе</h1>
                </div>
            </div>
        </div>

        <div class="row proposition-text">
            <div class="col">
                <div class="mb-4">
                    <p class="mb-2">
                        Добро пожаловать на нашу онлайн платформу гадания на картах Таро!
                    </p>
                    <p class="mb-2">
                        Если вы ищете ответы на свои вопросы о работе, то вы попали по адресу.
                        Наша система гадания поможет вам получить предсказания относительно вашей текущей ситуации на
                        работе и возможных действий для достижения успеха.
                    </p>
                    <p class="mb-2">
                        Просто задайте вопрос и нажмите ГАДАТЬ, чтобы получить ответы на свои вопросы о работе прямо
                        сейчас.
                    </p>
                </div>
            </div>
        </div>

        <div class="row proposition-text">
            <div class="col">
                <div class="text-center mb-4">
                    <p style="color: white">Перейти к гаданию и посмотреть ситуацию:</p>
                </div>
            </div>
        </div>

        <div class="row major-arcana-row justify-content-center">
            <div class="col-lg-8 col-md-7 col-sm-7 col-12 justify-content-center major-arcana">
                <div class="card text-center mb-3">
                    <div class="card-image">
                        <a href="{% url 'tarot_devinations:career_situation_tarot' %}#taro-career-card-detail">
                            <img
                                    src="{% static 'images/revers_career_situation.jpg' %}"
                                    class="card-img-top mx-auto d-block text-center"
                                    alt="Девушка сидит перед ноутбуком"
                            />
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'tarot_devinations:career_situation_tarot' %}#taro-career-card-detail" class="btn btn-primary card-button"
                        >Гадать</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row justify-content-center bottom-block">
            <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-7 col-8 pt-3 pb-3">
                <div class="image-block">
                    <img
                            src="{% static 'images/common_career_situation.jpg' %}"
                            alt="Три синие карты таро"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
