{% extends 'common_segments/base.html' %}
{% load static %}

{% block seo %}
    <meta name="description"
          content="Предсказание будущего на сайте с тремя картами Таро: узнайте, что прошлое, настоящее и будущее могут скрыть в себе для вас. Получите ответы на свои вопросы прямо сейчас!"/>
    <meta
            name="keywords"
            content="Таро, предсказание, будущее, прошлое, ответы"/>
{% endblock %}

{% block title %}
    <title>Онлайн гадание Три карты</title>
{% endblock %}

{% block content %}
    <!-- central content block -->
    <div class="content-block col-lg-8 col-md-12" id="taro-three-cards-detail">
                <div class="row day-card">
                    <div class="col">
                        <div class="text-center mb-4">
                            <h1>Гадание Три карты Таро</h1>
                        </div>
                    </div>
                </div>
        {% for data in cards_data %}
            <div class="row proposition-text mb-4">
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-2 col-sm-3 col-3 image-block">
                    <img
                            src="{{ data.image.url }}" width="150"
                            alt="{{ data.name }}"
                    />
                </div>
                <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-10 col-sm-9 col-9">
                    <div class="mb-4">
                        <p style="color: white">{{ data.period }}</p>
                        <p>{{ data.meaning }}</p>

                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}


        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-7 col-8 pt-3 pb-3">
                <div class="image-block">
                    <img
                            src="{% static 'images/three_tarot_cards.jpg' %}"
                            alt="Три синие карты таро"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
