{% extends 'common_segments/base.html' %}
{% load static %}

{% block seo %}
    <meta name="description"
          content="Получите подсказку на каждый день с помощью нашей карты дня Таро! Нажмите на карту, чтобы получить инсайты и мудрые слова, которые помогут вам принимать лучшие решения."/>
    <meta
            name="keywords"
            content="Карта дня Таро, Гадание Таро онлайн, Таро на каждый день, Мудрые слова, Инсайты и подсказки"/>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <!-- central content block -->
    <div class="content-block col-lg-8 col-md-12">
        <div class="row proposition-text">
            <div class="col">
                <div class="text-center mb-4">
                    <h1 style="color: white">Карта дня Таро</h1>
                </div>
            </div>
        </div>

        <div class="row proposition-text">
            <div class="col">
                <div class="mb-4">
                    <p class="mb-2">
                        Каждый день мы предлагаем новую карту, которая поможет вам получить инсайты и подсказки. Они
                        помогут сделать ваш день лучше и успешнее. Карта дня таро является одним из самых мощных и
                        точных способов гадания, который поможет вам получить ответы на свои вопросы и ощутить духовное
                        пробуждение.
                    </p>
                    <p class="mb-2">
                        Наше онлайн гадание является легким и быстрым способом получения ответов на ваши вопросы,
                        которые могут возникнуть у вас в течение дня. Все, что вам нужно сделать, это нажать на карту и
                        получить мудрые слова и советы, которые помогут вам двигаться вперед и достигать успеха в жизни.
                    </p>
                    <p class="mb-2">
                        Не упустите свой шанс получить подсказки от высших сил и узнать, что ждет вас в этот день.
                        Нажмите на карту и погрузитесь в увлекательный мир таро!
                    </p>
                </div>
            </div>
        </div>

        <div class="row proposition-text">
            <div class="col">
                <div class="text-center mb-4">
                    <p style="color: white">Перейти к гаданию и определить Карту дня:</p>
                </div>
            </div>
        </div>

        <div class="row major-arcana-row justify-content-center">
            <div class="col-4 justify-content-center major-arcana">
                <div class="card text-center mb-3">
                    <div class="card-image">
                    <a href="
                    {% url 'tarot_devinations:card_of_the_day' %}">
                    <img
                            src=" {% static 'images/revers_day_card.jpg' %} "
                            class="card-img-top mx-auto d-block text-center"
                            alt="Major Arcana"
                    />
                    </a>
                </div>
                <div class="card-body">
                    <a href="{% url 'tarot_devinations:card_of_the_day' %}" class="btn btn-primary card-button"
                    >Нажмите на карту</a
                    >
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row justify-content-center bottom-block">
        <div class="col-4 pt-3 pb-3">
            <div class="image-block">
                <img
                        src="{% static 'images/day_card_first_page.jpg' %}"
                        alt="Girl with Tarot card"
                />
            </div>
        </div>
    </div>
    </div>
{% endblock %}
