{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block seo %}{% endblock %}


    <link rel="stylesheet" href="{% static 'styles/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/css/layout.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/css/main.css' %}"/>
    <link rel="shortcut icon" href="{% static 'files/favicon.png' %}"/>

    {% block title %} {% endblock %}

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2E9V7WRMPM"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-2E9V7WRMPM');
</script>

<body>

<header>
    {% include 'common_segments/include/header.html' %}
</header>

<section>
    <div class="container-fluid">
        <div class="main-section row">
            {% include 'common_segments/include/left_sidebar.html' %}

            {% block content %} {% endblock %}

            {% include 'common_segments/include/right-sidebar.html' %}
        </div>
    </div>
</section>

<footer>
    {% include 'common_segments/include/footer.html' %}
</footer>

<script
        src="{% static 'styles/bootstrap/js/bootstrap.min.js' %}"
></script>

{#Adding scroll to top arrow#}
<div class="arrow-scroll">
    {% include 'common_segments/include/scroll_to_top.html' %}
</div>

</body>
</html>
