{% extends 'common_segments/base.html' %}
{% load static %}

{% block seo %}
    <meta name="description"
          content="На нашем сайте вы найдете онлайн гадания на любые темы, статьи о гадании на картах Таро, нумерологии, астрологии и других методах предсказаний. Узнайте, как использовать различные техники гадания, интерпретировать результаты и применять их в своей жизни. Наши статьи подходят как для начинающих, так и для опытных практиков. Откройте для себя мир гаданий и предсказаний прямо сейчас!"/>
    <meta
            name="keywords"
            content="Таро, Колода таро, Описание карт, Символика таро, Гадание таро, Значение карт, Тайны таро, Справочник таро, Обучение таро"/>
{% endblock %}

{% block title %}
        <title>{{ title }}</title>
{% endblock %}

{% block content %}
              <div class="content-block col-lg-8 col-md-12">
            <div class="row justify-content-center">
              <div class="col-3">
                <div class="image-block">
                  <img
                    class="title-image"
                    src="{% static 'images/girl_reading_card_comp_w_750px.jpg' %}"
                    class="rounded"
                    alt="..."
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="title-text text-center title-block">
                  <p>Добро пожаловать в мир гаданий и карт Таро!</p>
                  <p>
                    Наш сайт предлагает уникальный и интуитивный подход к
                    раскрытию тайн Вселенной и поиску ответов на ваши самые
                    насущные вопросы. С помощью нашей информации вы сможете
                    исследовать глубины своего подсознания, получить
                    представление о своем будущем и обрести ясность в своей
                    жизни. Наши гадания на таро основаны на древнем искусстве
                    гадания с использованием колоды карт таро для получения
                    информации и рекомендаций.
                  </p>
                  <p>
                    Если вы ищете ответы на вопросы о любви, отношениях, карьере
                    или жизненных целях, наши онлайн гадания на таро помогут вам
                    получить понимание и руководства, необходимые для достижения
                    ваших целей и полного раскрытия вашего потенциала. Так зачем
                    же ждать? Откройте для себя силу таро сегодня и начните свой
                    путь к более насыщенной жизни".
                  </p>
                  <div class="col-lg-12 col-md-12 text-center mt-3">
                    <button
                      type="button"
                      class="btn btn-outline-primary btn-lg mb-3"
                    >
                      Вперед к гаданиям
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-3">
                <div class="text-center image-block">
                  <img
                    class="title-image"
                    src="{% static 'images/cat_read_book_comp_w750px.jpg' %}"
                    class="rounded"
                    alt="..."
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="title-text text-center title-block">
                  <p>
                    Наш справочник Таро: ключ к пониманию и интерпретации карт!
                  </p>
                  <p>
                    Таро – это одна из самых популярных карточных методик для
                    прогнозирования и интерпретации жизненных ситуаций. Но для
                    получения точных и полезных прогнозов, необходимо иметь
                    хорошее понимание карт и их значений. Наш онлайн справочник
                    Таро предлагает вам это понимание, представляя полную
                    информацию о каждой карте и ее символике.
                  </p>
                  <div class="col-lg-12 col-md-12 text-center mt-3">
                    <a href="{% url 'tarot_cards:tarot_suits' %}">
                      <button
                        type="button"
                        class="btn btn-outline-primary btn-lg mb-3"
                      >
                        Справочник таро
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}

