{% extends 'common_segments/base.html' %} {% load static %} {% block seo %}
    <meta
            name="description"
            content="На нашем сайте вы найдете онлайн гадания на любые темы, статьи о гадании на картах Таро, нумерологии, астрологии и других методах предсказаний. Узнайте, как использовать различные техники гадания, интерпретировать результаты и применять их в своей жизни. Наши статьи подходят как для начинающих, так и для опытных практиков. Откройте для себя мир гаданий и предсказаний прямо сейчас!"
    />
    <meta
            name="keywords"
            content="Таро, Колода таро, Описание карт, Символика таро, Гадание таро, Значение карт, Тайны таро, Справочник таро, Обучение таро"
    />
{% endblock %} {% block title %}
    <title>{{ title }}</title>
{% endblock %} {% block content %}
    <div class="content-block col-lg-8 col-md-12">
        <div class="row">
            <div class="col">
                <div class="title-text text-center title-block">
                    <h1 class="mb-2" style="color: white;">
                        Политика конфиденциальности
                    </h1>

                    <p>
                        Мы уважаем вашу конфиденциальность и стремимся защитить ваши личные данные. Ниже мы описываем,
                        как мы собираем, используем и защищаем информацию, которую вы предоставляете нам через наш сайт.
                    </p>
                    <h2>Сбор информации</h2>
                    <p>
                        Мы собираем информацию о вас, когда вы заполняете формы на нашем сайте или связываетесь с нами
                        по электронной почте. Мы также автоматически получаем информацию о вашем взаимодействии с нашим
                        сайтом, включая данные о вашем устройстве и интернет-браузере.
                    </p>
                    <h2>Использование информации</h2>
                    <p>
                        Мы используем предоставленную вами информацию для следующих целей:

                        Чтобы связаться с вами по поводу вашего запроса или оставить заявку.
                        Чтобы улучшить наш сайт и предоставить вам более персонализированный опыт.
                        Чтобы отправлять вам информацию о наших продуктах и услугах, если вы дали на это согласие.
                        Чтобы обеспечить нашу безопасность и защиту нашей компании.
                        Мы не продаем, не передаем и не арендуем вашу информацию третьим лицам без вашего согласия, за
                        исключением случаев, когда это необходимо для выполнения наших обязательств перед вами,
                        например, для обработки платежей или доставки заказов.
                    </p>
                    <h2>Конфиденциальность данных</h2>
                    <p>
                        Мы предпринимаем меры для защиты вашей личной информации от несанкционированного доступа,
                        использования или раскрытия. Мы также регулярно проверяем и обновляем наши системы безопасности.
                    </p>
                    <h2>Ваши права</h2>
                    <p>
                        Вы имеете право на доступ, исправление или удаление вашей личной информации, которую мы храним.
                        Если вы хотите получить доступ к своей информации или изменить ее, свяжитесь с нами по указанным
                        на нашем сайте контактным данным.
                    </p>
                    <h2>Изменения в политике конфиденциальности</h2>
                    <p>
                        Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности в любое время.
                        Если мы внесем какие-либо значительные изменения, мы уведомим вас путем размещения уведомления
                        на нашем сайте или по электронной почте.
                    </p>
                    <h2>Связь с нами</h2>
                    <p>
                        Если у вас есть вопросы или комментарии относительно нашей политики конфиденциальности,
                        пожалуйста, свяжитесь с нами по указанным на сайте контактным данным.

                    </p>
                    <p>
                        ожалуйста, обратите внимание, что наш сайт может содержать ссылки на другие сайты, которые имеют
                        свои собственные политики конфиденциальности. Мы не несем ответственности за содержание или
                        практики конфиденциальности этих сайтов.
                    </p>
                    <p>
                        Мы стремимся защитить конфиденциальность наших пользователей и обеспечить безопасность и защиту
                        их личных данных. Если у вас есть какие-либо вопросы или опасения относительно вашей
                        конфиденциальности на нашем сайте, пожалуйста, свяжитесь с нами, и мы постараемся помочь вам.
                    </p>
                    <p>
                        С уважением, команда magiclair.pp.ua.
                    </p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
