{% extends 'common_segments/base.html' %}
{% load static %}

{% block seo %}
    <meta name="description" content="{{ suit.seo_description }}"/>
    <meta
            name="keywords"
            content="{{ suit.seo_tags }}"/>
{% endblock %}

{% block title %}
    <title>{{ suit.suits_name }}</title>
{% endblock %}

{% block content %}
    <!-- central content block -->
    <div class="content-block col-lg-8 col-md-12">
        <div class="row justify-content-center text-center">
            <div class="col-4">
                <div class="image-block">

                        <img
                                class="title-image"
                                src="{{ suit.image_2.url }}"
                                class="rounded"
                                alt="{{ suit.suits_name }}"
                        />

                </div>
            </div>
        </div>

        <div class="row mb-2 mt-2 justify-content-center">
            <div class="col-4 suits-info-text me-1">
                <div class="text-center mb-4 mt-4">
                    <a href="{% url 'tarot_cards:tarot_suits' %}">
                        <p>Вернуться к мастям</p>
                    </a>
                </div>
            </div>
            <div class="col-4 suits-info-text">
                <div class="text-center mb-4 mt-4">
                    <a href="{% url 'tarot_cards:suit_description' suit.url %}">
                        <p>Узнать подробную информацию о масти</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="row minor-arcana-row justify-content-center">
            {% for card in cards %}
                <div
                        class="col-xxl-3 col-xl-4  col-md-6 mt-4 justify-content-center minor-arcana"
                >
                    <div class="card mb-3 text-center minor-arcana-card">
                        <div class="card-image">
                            <a href="{% url 'tarot_cards:card_detail' card.url %}">
                                <img
                                        src={{ card.image_1.url }}
                                                class="card-img-top"
                                        alt="{{ card.name }}"
                                />
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'tarot_cards:card_detail' card.url %}"
                               class="btn btn-primary card-button">{{ card.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row justify-content-center">
            <div class="col-4 pt-3 pb-3 justify-content-center">
                <div class="image-block text-center">
                    <img
                            src="{{ suit.image_3.url }}"
                            alt="{{ suit.suits_name }}"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}







