{% extends 'tarot_cards/base.html' %}
{% load static %}

{% block title %}
        <title>{{ title }}</title>
{% endblock %}

{% block content %}
          <!-- central content block -->
          <div class="content-block col-lg-8 col-md-12">
            <div class="row justify-content-center">
              <div class="col-2">
                <div class="image-block">
                  <img
                    class="title-image justify-content-center"
                    src="source/images/tarot_img/cups/ace_cups.png"
                    class="rounded"
                    alt="..."
                  />
                </div>
              </div>
            </div>

            <div class="row mb-2 mt-2 justify-content-center">
              <div class="col-4 suits-info-text">
                <div class="text-center mb-4 mt-4">
                  <p>Туз Кубков</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="table mt-3 mb-3">
                <table class="table">
                  <thead>
                    <tr class="justify-content-center">
                      <th scope="col">Положение карты</th>
                      <th scope="col">Ключевые слова</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Прямое положение</td>
                      <td class="tag-text">
                        любовь, новые чувства, эмоциональное пробуждение,
                        творчество, духовность, интуиция
                      </td>
                    </tr>
                    <tr>
                      <td>Перевернутое положение</td>
                      <td class="tag-text">
                        холодность, пустота, эмоциональная потеря, блокировка
                        творческого потенциала, чувство нелюбви, уныние
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row text-information">
              <div class="col mt-4 mb-4 justify-content-center">
                <h2 class="article-title">Общее значение карты Туз Кубков</h2>
                <p>
                  На карте Туз Кубков изображена рука, выходящая из облаков и
                  протягивающая кубок, как бы предлагая кверенту выпить. Эта
                  чаша переполнена искрящейся водой, которая символизирует
                  чистые и первозданные эмоции. Если вы примете это предложение,
                  то питье из этой чаши, несомненно, принесет вам не только
                  эмоциональное, но и духовное удовлетворение. Из чаши вытекает
                  пять струй воды. Эти пять струй олицетворяют силу интуиции и
                  показывают, как важно прислушиваться к своему внутреннему
                  голосу. Чтобы получить эмоциональное или духовное
                  удовлетворение, которое изображено на Тузе Кубков, кверенту
                  необходимо следовать этому внутреннему голосу и оставаться
                  верным ему, независимо от ситуации. Это потребует
                  эмоциональной дисциплины, но на вознаграждение, которое это
                  может принести, намекает сама карта: переполняющая радость и
                  счастье.
                </p>
                <h2 class="article-title">
                  Значение карты Туз Кубков в прямом положении
                </h2>
                <p>
                  Туз Кубков в раскладе показывает, что пришло время
                  освободиться от всего эмоционального багажа и начать жить
                  полной жизнью. Как и в случае с другими тузами, здесь
                  указывается на новое начало - возможность начать жизнь с
                  чистого листа. Это может выражаться в том, чтобы открыть себя
                  для новых отношений, романтических или иных, которые способны
                  принести вам эмоциональное удовлетворение. Освобождение, на
                  которое указывает эта карта, может быть духовным или
                  эмоциональным, в зависимости от того, через что вы проходите.
                  Туз Кубков может появиться после долгого периода одиночества
                  или переживания чего-то, что глубоко ранило вас эмоционально,
                  и его появление может предвещать поворот к новым отношениям.
                  Освобождение, на которое указывает эта карта, может быть либо
                  духовным, либо эмоциональным, в зависимости от того, через что
                  вы проходите. Важно открыть себя для новых возможностей
                  дружбы, любви и духовного познания. Сейчас есть шанс оставить
                  свое прошлое позади, потому что вам предлагаются дары кубков.
                  Только от вас зависит, возьмете ли вы чашу и выпьете ли ее до
                  дна.
                </p>
                <h2 class="article-title">
                  Значение карты Туз Кубков в перевернутом положении
                </h2>
                <p>
                  Когда Туз Кубков перевернут, образ здесь наиболее ясен - воды
                  выливаются из чаши, она становится пустой, дар ее вод
                  растрачивается. Увидеть перевернутый Туз Кубков во время
                  чтения означает, что в течение некоторого времени вы
                  испытывали эмоциональную нестабильность или боль. Здесь
                  говорится об утрате, и, возможно, что-то, что много значило
                  для вас, больше не приносит вам той радости, которая была
                  раньше. Поскольку кубки также управляют творчеством, возможно,
                  вы также испытываете своего рода творческий блок, и там, где
                  раньше текли воды вдохновения, теперь они иссякли. Во всех
                  этих случаях вы должны проанализировать, кто или что
                  контролирует чашу - какая сторона позволила ей опрокинуться?
                  Что вы можете сделать, чтобы снова поставить ее на правильную
                  сторону?
                </p>
                <h2 class="article-title">Значение карты Туз Кубков в любви</h2>

                <div class="row">
                  <div class="table mt-3 mb-3">
                    <table class="table">
                      <thead>
                        <tr class="justify-content-center">
                          <th scope="col">Положение карты</th>
                          <th scope="col">Ключевые слова</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Прямое положение</td>
                          <td class="tag-text">
                            новый роман, дружба, новый уровень в отношениях,
                            более глубокая близость
                          </td>
                        </tr>
                        <tr>
                          <td>Перевернутое положение</td>
                          <td class="tag-text">
                            печаль, разлука, уязвимость, незащищенность на пути
                            любви
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <h2 class="article-title">
                  Значение в прямом положении карты Туз Кубков в любви
                </h2>
                <p>
                  Одна из самых счастливых карт для любовного таро, Туз Кубков
                  означает пробуждение новых чувств. Если вы одиноки, вы можете
                  обнаружить, что у вас завязываются новые романтические
                  отношения или дружба, которая будет иметь для вас глубокое
                  значение. Если вы уже состоите в отношениях, между вами может
                  быть достигнута новая стадия близости, сострадания и
                  понимания. Любовное значение Туза Кубков таро говорит о том,
                  что сейчас у вас есть возможность для эмоционального,
                  духовного и творческого роста, если вы возьмете чашу и
                  выпьете. В это время благоприятны решения, принятые на основе
                  чувств и интуиции; научитесь доверять тому, что говорит ваша
                  интуиция, и избегайте чрезмерного анализа ситуаций.
                </p>
                <h2 class="article-title">
                  Значение в перевернутом положении карты Туз Кубков в любви
                </h2>
                <p>
                  О некоторой печали и эмоциональном расстройстве может
                  свидетельствовать перевернутый Туз Кубков таро любовное
                  значение. Это может быть следствием ссоры или даже разрыва, в
                  результате которого вы чувствуете себя одиноким и уязвимым.
                  Эта карта также может означать просто мрачное отношение к
                  текущим отношениям или временную потерю веры. Что-то мешает
                  вам испытать, дать и получить настоящую любовь. Возможно, вы
                  не встречаете своего партнера или других людей в целом с
                  открытым сердцем. Вероятно, большую роль играет неуверенность
                  в себе; мы все должны уметь любить себя, прежде чем сможем
                  по-настоящему полюбить другого человека. Попробуйте заглянуть
                  внутрь себя и дать себе ту любовь, которую вы хотите, прежде
                  чем искать ее в другом человеке.
                </p>
                <h2 class="article-title">
                  Значение карты Туз Кубков в работе и карьере
                </h2>

                <div class="row">
                  <div class="table mt-3 mb-3">
                    <table class="table">
                      <thead>
                        <tr class="justify-content-center">
                          <th scope="col">Положение карты</th>
                          <th scope="col">Ключевые слова</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Прямое положение</td>
                          <td class="tag-text">
                            дружеские отношения на работе, новые эмоции по
                            поводу работы, прилив творческих сил
                          </td>
                        </tr>
                        <tr>
                          <td>Перевернутое положение</td>
                          <td class="tag-text">
                            чувство немотивированности и скуки на работе,
                            недружелюбие коллег
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <h2 class="article-title">
                  Значение в прямом положении карты Туз Кубков в работе и
                  карьере
                </h2>
                <p>
                  Пикирующий Туз Кубков - это знак как новых эмоциональных
                  начинаний, так и дружеских намерений. Когда речь идет о вашей
                  карьере, эти принципы могут проявиться здесь по-разному. Если
                  вы находитесь в поиске работы, эта карта может означать новое
                  начало в вашей деятельности. Это не всегда означает новую
                  работу, но может означать счастливые отношения между вами и
                  вашими коллегами, а также эмоциональное пробуждение, когда
                  речь идет о том, как вы воспринимаете свою работу. Новые
                  проекты могут стать источником творческого потенциала. Это
                  хорошее время, чтобы приступить к новым задачам и вызовам, так
                  как вы используете этот прилив вдохновения. Если вы боялись
                  брать на себя больше ответственности, сейчас самое время
                  преодолеть эти страхи; это особенно актуально, если вы
                  работаете в творческой сфере.
                </p>
                <h2 class="article-title">
                  Значение в перевернутом положении карты Туз Кубков в работе и
                  карьере
                </h2>
                <p>
                  При перевернутом положении Туза Кубков хорошие новости и
                  товарищество подрываются. Тех, кто ищет новую должность, может
                  постигнуть разочарование. Ваша работа может быть связана с
                  негативными эмоциями. Вы можете столкнуться с разочарованием и
                  препятствиями, а также ощущением пустоты, когда речь идет о
                  вашей работе. Какова бы ни была причина, вы можете чувствовать
                  себя не вдохновленным и не мотивированным на работе. Иногда,
                  поскольку кубки также управляют отношениями, вы можете
                  обнаружить, что коллеги по работе в это время могут быть менее
                  дружелюбными и отзывчивыми. Сделайте все возможное, чтобы
                  переждать бурю и найти мотивацию там, где это возможно. В
                  любом случае, постарайтесь помнить, что работа - это лишь один
                  из аспектов вашей жизни, а не все.
                </p>
                <h2 class="article-title">
                  Значение карты Туз Кубков в финансовом вопросе
                </h2>

                <div class="row">
                  <div class="table mt-3 mb-3">
                    <table class="table">
                      <thead>
                        <tr class="justify-content-center">
                          <th scope="col">Положение карты</th>
                          <th scope="col">Ключевые слова</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Прямое положение</td>
                          <td class="tag-text">
                            финансовая помощь, радостные финансовые новости,
                            творческий подход к зарабатыванию денег
                          </td>
                        </tr>
                        <tr>
                          <td>Перевернутое положение</td>
                          <td class="tag-text">
                            неутешительные новости, разочарование и печаль по
                            поводу финансов
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <h2 class="article-title">
                  Значение в прямом положении карты Туз Кубков в финансовом
                  аспекте
                </h2>
                <p>
                  Дружелюбие и общительность Туза Кубков могут повлиять и на
                  ваше финансовое положение. Поскольку люди будут более
                  благосклонны к вам, они с большей вероятностью предложат
                  финансовую поддержку, о которой вы просите. Чаще всего эта
                  поддержка выражается в виде одобренных кредитов или ипотеки,
                  но может также прийти в виде поддержки от членов семьи и
                  друзей. Эта карта может быть особенно утешительной для тех,
                  кто давно ищет помощи. Иногда эта карта также может означать
                  новую волну творчества, когда дело касается зарабатывания
                  денег. Если это не совсем относится к вам, эта карта также
                  может означать финансовую стабильность и эмоциональное
                  удовлетворение, которое приходит благодаря ей.
                </p>
                <h2 class="article-title">
                  Значение в перевернутом положении карты Туз Кубков в
                  финансовом аспекте
                </h2>
                <p>
                  С перевернутым Тузом Кубков вы можете получить новости,
                  которые вам не очень хочется слышать, когда речь идет о ваших
                  финансах. Если вы подавали заявку на получение кредита или
                  гранта, вас может ждать разочарование. Возможно, обращение за
                  помощью к родственникам или друзьям также не принесло
                  результатов. Если ни одна из этих ситуаций к вам не относится,
                  возможно, вы просто испытываете двойственные чувства или
                  разочарование, когда речь заходит о вашем финансовом
                  положении. Позвольте себе чувствовать, но не будьте поглощены
                  этими эмоциями.
                </p>
              </div>
            </div>

            <div class="row justify-content-center bottom-image">
              <div class="col-4 pb-1 pt-1">
                <div class="image-block">
                  <img
                    src="source/images/cup_description-2.jpg"
                    alt="Girl with Tarot Card"
                  />
                </div>
              </div>
            </div>
          </div>
{% endblock %}


