<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="справочник таро онлайн гадания " />
    <meta
      name="keywords"
      content="справочник таро, онлайн гадания, карта дня"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="source/styles/layout.css" />
    <link rel="stylesheet" href="source/styles/main.css" />
    <link rel="stylesheet" href="source/styles/header.css" />

    <title>Кубки Таро</title>
  </head>

  <body>
    <header>
      <!-- top navbar -->
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid main-container">
          <a class="navbar-brand" href="index.html"
            ><img src="source/files/logo.png" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html"
                  >Главная</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">О сайте</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <div class="container-fluid">
        <div class="main-section row">
          <!-- left menubar -->
          <div class="left-navbar col-lg-2 col-md-12">
            <a href="#">
              <h4 class="d-flex align-items-center">Онлайн гадания</h4>
            </a>
            <nav class="menu">
              <ul>
                <li>
                  <a href="#">Карта дня</a>
                </li>
                <li>
                  <a href="#">Гадание на ситуацию</a>
                </li>
                <li>
                  <a href="#">Да или нет</a>
                </li>
              </ul>
            </nav>
            <a href="tarot_suits.html">
              <h4 class="d-flex align-items-center">Справочник таро</h4>
            </a>
            <nav class="menu">
              <ul>
                <li>
                  <a href="#">Старшие арканы</a>
                </li>
                <li>
                  <a href="#">Кубки</a>
                </li>
                <li>
                  <a href="#">Пентакли</a>
                </li>
                <li>
                  <a href="#">Мечи</a>
                </li>
                <li>
                  <a href="#">Жезлы</a>
                </li>
              </ul>
            </nav>
          </div>

          <!-- central content block -->
          <div class="content-block col-lg-8 col-md-12">
            <div class="row justify-content-center">
              <div class="col-4">
                <div class="image-block">
                  <a href="#">
                    <img
                      class="title-image"
                      src="source/images/cups_description.jpg"
                      class="rounded"
                      alt="..."
                    />
                  </a>
                </div>
              </div>
            </div>

            <div class="row mb-2 mt-2 justify-content-center">
              <div class="col-4 suits-info-text">
                <div class="text-center mb-4 mt-4">
                  <a href="tarot_list.html">
                    <p>Кубки</p>
                  </a>
                </div>
              </div>
            </div>

            <div class="row text-information">
              <div class="col mt-4 justify-content-center">
                <p>
                  Масть Кубков ассоциируется с водой, которая символизирует
                  сферу эмоций, отношений и интуиции. Карты этой масти могут
                  представлять различные стадии романтических отношений, от
                  влюбленности до глубокой эмоциональной связи. При чтении Таро
                  появление Кубков может указывать на сосредоточенность на
                  эмоциональном удовлетворении и отношениях, а также на
                  необходимость исследовать собственные чувства и эмоции. Кубки
                  Таро также могут представлять потенциал для роста и исцеления
                  в эмоциональной сфере, помогая человеку лучше понимать свои
                  чувства и ориентироваться в них.
                </p>
                <h2 class="article-title">Сильные стороны масти Кубков</h2>
                <p>
                  В своих лучших проявлениях этот элемент глубоко связан с
                  царством чувств; ему свойственны сочувствие и сострадание. Он
                  также связан с интуицией, которая иногда может быть настолько
                  острой, что другие воспринимают ее как экстрасенсорные
                  способности. Интуиция также может наделять Кубки большим
                  творческим потенциалом. Люди, связанные с этой мастью, обычно
                  очень талантливы в искусстве, у них может быть склонность к
                  мечтательности и фантазии. Значение масти кубков на картах
                  таро иногда может быть связано с исцелением и очищением. Эта
                  масть отличается адаптивностью и изменчивостью.
                </p>
                <h2 class="article-title">Слабые стороны масти Кубков</h2>
                <p>
                  Масть кубков полностью погружается в сферу эмоций и не имеет
                  ничего общего с логикой, фактами или конкретными наблюдениями.
                  Кубки могут быть настолько поглощены своими фантазиями, что
                  реальный мир для них исчезает. В перевернутом виде масть
                  кубков часто выражает эмоциональные блоки и подавление. Иногда
                  это также может привести к блокировке творческих возможностей.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="table mt-3 mb-3">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Определение</th>
                      <th scope="col">Соответствие</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Масть</td>
                      <td>Кубки</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Ключевые слова</td>
                      <td>Эмоции, чувства, интуиция, отношения</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Астрологические знаки</td>
                      <td>Рак, скорпион, рыбы</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Альтернативные названия</td>
                      <td>Чаши, кубки, сосуды, вазы</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row justify-content-center bottom-image">
              <div class="col-4 pb-1 pt-1">
                <div class="image-block">
                  <img
                    src="source/images/cup_description-2.jpg"
                    alt="Girl with Tarot Card"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- right article block -->
          <div class="articles-block col-lg-2 col-md-12">
            <div class="row px-2">
              <div class="col-lg-12 sidebar my-4">
                <a href="#">
                  <h2>Lorem, ipsum dolor.</h2>
                </a>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Tenetur porro labore error distinctio nesciunt, quis a aliquid
                  et. Veritatis deleniti sequi eligendi atque. Vero, quas
                  numquam. <a href="#">Далее>>></a>
                </p>
              </div>
              <div class="col-lg-12 sidebar my-4">
                <a href="#">
                  <h2>Lorem, ipsum dolor.</h2>
                </a>
                <p>
                  Tenetur porro labore error distinctio nesciunt, quis a aliquid
                  et. Veritatis deleniti sequi eligendi atque. Vero, quas
                  numquam. <a href="#">Learn More>>></a>
                </p>
              </div>
              <div class="col-lg-12 sidebar my-4">
                <a href="#">
                  <h2>Lorem, ipsum dolor.</h2>
                </a>
                <p>
                  Lorem ipsum dolor sit amet error distinctio nesciunt, quis a
                  aliquid et. Veritatis deleniti sequi eligendi atque. Vero,
                  quas numquam. <a href="#">Learn More>>></a>
                </p>
              </div>
              <div class="col-lg-12 sidebar my-4">
                <a href="#">
                  <h2>Lorem, ipsum dolor.</h2>
                </a>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  distinctio nesciunt, quis a aliquid et. Veritatis deleniti
                  sequi eligendi atque. Vero, quas numquam.
                  <a href="#">Learn More>>></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <!-- footer block -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-12 text-center footer-text">
            <p>Все права защищены 2023</p>
          </div>
          <div class="col-lg-4 col-md-12 text-center footer-text">
            <a href="#">
              <p>О сайте</p>
            </a>
            <a href="#">
              <p>Контакты</p>
            </a>
          </div>
          <div class="col-lg-4 col-md-12 text-center footer-text">
            <a href="#">
              <p>Политика конфиденциальности</p>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
