    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center footer-text">
                <p>Copyright © 2023</p>
            </div>
            <div class="col-lg-4 col-md-12 text-center footer-text">
                <a href="{% url 'about' %}">
                    <p>О сайте</p>
                </a>
                <a href="{% url 'contacts' %}">
                    <p>Контакты</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 text-center footer-text">
                <a href="{% url 'privacy_policy' %}">
                    <p>Политика конфиденциальности</p>
                </a>
            </div>
        </div>
    </div>