    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center footer-text">
                <p>Все права защищены 2023</p>
            </div>
            <div class="col-lg-4 col-md-12 text-center footer-text">
                <a href="#">
                    <p>О сайте</p>
                </a>
                <a href="#">
                    <p>Контакты</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 text-center footer-text">
                <a href="#">
                    <p>Политика конфиденциальности</p>
                </a>
            </div>
        </div>
    </div>