{% load suits_tag %}

<div class="left-navbar col-lg-2 col-md-12">
    <a href="#">
        <h4 class="d-flex align-items-center">Гадания онлайн</h4>
    </a>
    <nav class="menu">
        <ul>
            <li>
                <a href="{% url 'tarot_devinations:tarot_day_card_view' %}">Карта дня</a>
            </li>
            <hr>
            <li>
                <a href="{% url 'tarot_devinations:love_situation_tarot_view' %}">Cитуация в любви</a>
            </li>
            <hr>
            <li>
                <a href="{% url 'tarot_devinations:career_situation_tarot_view' %}">Cитуация на работе</a>
            </li>
            <hr>
            <li>
                <a href="{% url 'tarot_devinations:finance_situation_tarot_view' %}">Cитуация с деньгами</a>
            </li>
            <hr>
            <li>
                <a href="{% url 'tarot_devinations:yes_or_no_tarot_view' %}">Да или нет</a>
            </li>
            <hr>
            <li>
                <a href="{% url 'tarot_devinations:tarot_three_cards_view' %}">Прошлое, настоящее, будущее</a>
            </li>
            <hr>
            <li>
                <a href="{% url 'quotes_divination:category_quotes_list' %}">Гадание по цитатам</a>
            </li>

        </ul>
    </nav>

    <a href="#">
        <h4 class="d-flex align-items-center">Тайна человека</h4>
    </a>
    <nav class="menu">
        <ul>
            <li>
                <a href="{% url 'person_characteristic:color_description' %}">Описание по любимому цвету</a>
            </li>
            <hr>
            <li>
                <a href="{% url 'person_characteristic:birthday' %}">Описание по дню рождения</a>
            </li>
        </ul>
    </nav>

    <a href="{% url 'tarot_cards:tarot_suits' %}">
        <h4 class="d-flex align-items-center">Справочник таро</h4>
    </a>
    <nav class="menu">
        <ul>
            {% get_suits as suits %}
            {% for suit in suits %}
                <li>
                    <a href="{% url 'tarot_cards:cards_list' suit.url %} "> {{ suit.suits_name }} </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
