{% extends 'tarot_cards/../../../common_segments/templates/common_segments/base.html' %}
{% load static %}

{% block seo %}
    <meta name="description"
          content="Интересуетесь гаданием и эзотерикой? На нашем сайте вы найдете статьи о гадании на картах Таро, нумерологии, астрологии и других методах предсказаний. Узнайте, как использовать различные техники гадания, интерпретировать результаты и применять их в своей жизни."/>
    <meta
            name="keywords"
            content="гадание, эзотерика, Таро, нумерология, астрология, предсказания"/>
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <!-- central content block -->
    <div class="content-block col-lg-8 col-md-12">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="image-block text-center">
                    <img
                            class="title-image"
                            src="{% static 'images/image_for_articles_1.jpg' %}"
                            class="rounded"
                            alt="girl with card"/>
                </div>
            </div>
        </div>

        <div class="row mb-2 mt-2 justify-content-center">
            <div class="col-4 suits-info-text">
                <div class="text-center mb-4 mt-4">

                    <p>Интересные статьи</p>

                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col mt-4 justify-content-center article">
                {% for article in article_list %}
                    <a href="{% url 'articles:article_detail' article.url %}" class="article-title">
                        <h1>{{ article.title }}</h1>
                    </a>
                    <p class="mt-2">
                        {{ article.text | safe | truncatechars:200 }}
                        <a href="{% url 'articles:article_detail' article.url %}">Далее>>></a>
                    </p>
                    <hr>
                {% endfor %}
            </div>
        </div>

    {% if is_paginated %}
    <nav class="pagination justify-content-center mb-4 mt-4">
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="active"><span>{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}




        <div class="row justify-content-center bottom-image">
            <div class="col-4 pb-1 pt-1">
                <div class="image-block text-center">
                    <img
                            src="{% static 'images/image_for_articles_2.jpg' %}"
                            alt="Mysterious Objects"
                    />
                </div>
            </div>
        </div>
    </div>

{% endblock %}